<ng-template #content>
	<div class="modal-header">
		<h3 class="modal-title">
			Are you sure you want to delete this product
		</h3>
	</div>

	<div class="modal-body">
		<div class="d-flex flex-row">
			<button title="Cancel Delete" (click)="close()" class="m-2 flex-grow-1 btn btn-outline-dark align-items-end">
				Cancel
			</button>
			<button title="Confirm Delete" (click)="delete()" class="m-2 flex-grow-1 btn btn-outline-danger">
				<i class="bi bi-trash"></i>
				Delete
			</button>
		</div>
	</div>
</ng-template>

<button (click)="open(content)" name="Row Delete Button" aria-label="Row Delete Button" class="btn btn-outline-danger">
	<i class="bi bi-trash"></i>
</button>
